<%= form_with(model: karma) do |form| %>
  <% if karma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(karma.errors.count, "error") %> prohibited this karma from being saved:</h2>

      <ul>
        <% karma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
