<h1>Karmas</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @karmas.each do |karma| %>
      <tr>
        <td><%= karma.value %></td>
        <td><%= karma.user_id %></td>
        <td><%= link_to 'Show', karma %></td>
        <td><%= link_to 'Edit', edit_karma_path(karma) %></td>
        <td><%= link_to 'Destroy', karma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Karma', new_karma_path %>
